{% extends "base.html" %}

{% block title %}Elvis Mello-Terencio - About{% endblock %}

{% block content %}
<h1>About</h1>

<h2>Contact</h2>

<p>
    You can reach me via e-mail at <a href="mailto:elvis.mello@outlook.com">elvis.mello@outlook.com</a>
</p>


<h2>About this site</h2>

<p>
    This site was made with Flask and Frozen-Flask in Python!
</p>

<p>
    I employed Flask because it makes building web pages straightfoward. Frozen-Flask automatically converts the project into static HTML, which can then be published into GitHub. The details can be found in both branches of this site's <a href="https://github.com/elvismello/elvismello.github.io">repository</a>, where a custom GitHub action compiles the <code>main</code> branch into <code>gh-pages</code> for deployment.
</p>

{% endblock %}
