<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0LHHHRDKDG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-0LHHHRDKDG');
    </script>

    <title>{% block title %}Elvis Mello-Terencio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/galaxy_icon_new.png') }}">
</head>
<body>
    <div class="container-main">
        <div class="container-image">
            <img src="{{url_for('static', filename='img/jellyfish.webp')}}" alt="Jellyfish galaxy ESI 137-001">
            <div class="container-image-overlay">Elvis Mello-Terencio</div>
        </div>
        <nav class="bar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('research') }}">Research</a>
        </nav>
        <hr>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <p style="text-align: center;">Last updated: {{ last_updated }}</p>
    </footer>
</body>
</html>
